# Imports

In [1]:
import numpy as np
import pandas as pd

# Retrieve traces

In [2]:
energy = pd.read_parquet("trace/trace.parquet")
meta = pd.read_parquet("trace/meta.parquet")
trace = pd.read_parquet("trace/meta.parquet")

In [3]:
energy_parsed = energy.groupby("timestamp").sum()
energy_parsed

,id,duration,cpu_count,cpu_usage
timestamp,,,,
2022-10-06 22:00:30,2133229213411921364292133135213311721368502133...,3630000,1936,2162727.0
2022-10-06 22:01:00,2133229213411921364292133135213311721368502133...,3480000,1856,1994559.0
2022-10-06 22:01:30,2133229213411921364292133135213311721368502133...,3480000,1856,2000397.0
2022-10-06 22:02:00,2133229213411921364292133135213311721368502133...,3480000,1856,2007117.0
2022-10-06 22:02:30,2133229213411921364292133135213311721368502133...,3480000,1856,2023896.0
...,...,...,...,...
2022-10-13 21:57:30,2169539217559921739092173969217559821779202169...,2940000,1568,1782270.0
2022-10-13 21:58:00,2169539217559921739092173969217559821779202169...,2940000,1568,1786512.0
2022-10-13 21:58:30,2169539217559921739092173969217559821779202169...,2940000,1568,1790901.0
2022-10-13 21:59:00,2169539217559921739092173969217559821779202169...,2940000,1568,1795899.0
2022-10-13 21:59:30,2169539217559921739092173969217559821779202169...,2970000,1584,1801254.0

# 1. trace.parquet

In [4]:
# trace1 = trace.groupby("timestamp").sum()
# trace
delta_time = trace["stop_time"] - trace["start_time"]
print("Shortest job has " + str(min(delta_time)))
print("Longest job has " + str(max(delta_time)))

Shortest job has 0 days 00:00:00
Longest job has 5 days 00:00:17

Properties:
- sampling rate is 30 seconds
- shortest job is less than 30 seconds
- longest job is 5 days

# 2. meta.parquet

In [5]:
meta

,id,start_time,stop_time,cpu_count,cpu_capacity,mem_capacity
0,2133099,2022-10-06 22:00:00,2022-10-07 05:45:35,16,33600.0,100000
1,2133100,2022-10-06 22:00:00,2022-10-07 05:45:35,16,33600.0,100000
2,2133101,2022-10-06 22:00:00,2022-10-07 05:45:35,16,33600.0,100000
3,2133102,2022-10-06 22:00:00,2022-10-07 05:45:35,16,33600.0,100000
4,2133111,2022-10-06 22:00:00,2022-10-07 05:45:35,16,33600.0,100000
...,...,...,...,...,...,...
7845,2135095,2022-10-06 22:00:00,2022-10-08 01:11:04,16,33600.0,100000
7846,2135096,2022-10-06 22:00:00,2022-10-08 01:11:04,16,33600.0,100000
7847,2135097,2022-10-06 22:00:00,2022-10-08 01:11:04,16,33600.0,100000
7848,2135098,2022-10-06 22:00:00,2022-10-08 01:11:04,16,33600.0,100000
7849,2138225,2022-10-06 22:00:00,2022-10-10 02:16:43,16,33600.0,100000

Meta.parquet analyses the infrastructure usage, for each run job.

# 3. energy.parquet

In [6]:
energy

              id           timestamp  duration  cpu_count  cpu_usage
0        2147116 2022-10-11 14:05:30     30000         16       42.0
1        2147116 2022-10-11 14:06:00     30000         16       21.0
2        2147116 2022-10-11 14:06:30     30000         16       21.0
3        2147116 2022-10-11 14:07:00     30000         16        0.0
4        2147116 2022-10-11 14:07:30     30000         16        0.0
...          ...                 ...       ...        ...        ...
2323470  2173980 2022-10-13 21:57:30     30000         16     2205.0
2323471  2173980 2022-10-13 21:58:00     30000         16     2247.0
2323472  2173980 2022-10-13 21:58:30     30000         16     2457.0
2323473  2173980 2022-10-13 21:59:00     30000         16     2835.0
2323474  2173980 2022-10-13 21:59:30     30000         16     2919.0

[2323475 rows x 5 columns]

Specs:
- to add, but need to discuss with people

# 3. energy.parquet

In [7]:
energy_parsed

,id,duration,cpu_count,cpu_usage
timestamp,,,,
2022-10-06 22:00:30,2133229213411921364292133135213311721368502133...,3630000,1936,2162727.0
2022-10-06 22:01:00,2133229213411921364292133135213311721368502133...,3480000,1856,1994559.0
2022-10-06 22:01:30,2133229213411921364292133135213311721368502133...,3480000,1856,2000397.0
2022-10-06 22:02:00,2133229213411921364292133135213311721368502133...,3480000,1856,2007117.0
2022-10-06 22:02:30,2133229213411921364292133135213311721368502133...,3480000,1856,2023896.0
...,...,...,...,...
2022-10-13 21:57:30,2169539217559921739092173969217559821779202169...,2940000,1568,1782270.0
2022-10-13 21:58:00,2169539217559921739092173969217559821779202169...,2940000,1568,1786512.0
2022-10-13 21:58:30,2169539217559921739092173969217559821779202169...,2940000,1568,1790901.0
2022-10-13 21:59:00,2169539217559921739092173969217559821779202169...,2940000,1568,1795899.0
2022-10-13 21:59:30,2169539217559921739092173969217559821779202169...,2970000,1584,1801254.0

We parse the raw energy trace. We identify numerous jobs run in parallel. For this reason, we group by timestamp, and parse the energy consumption per host, to determine the total energy consumption.