# Imports

In [4]:
import numpy as np
import pandas as pd

# Retrieve traces

In [15]:
carbon = pd.read_parquet("surf-sara/trace/trace.parquet")

In [17]:
carbon

              id           timestamp  duration  cpu_count  cpu_usage
0        2147116 2022-10-11 14:05:30     30000         16       42.0
1        2147116 2022-10-11 14:06:00     30000         16       21.0
2        2147116 2022-10-11 14:06:30     30000         16       21.0
3        2147116 2022-10-11 14:07:00     30000         16        0.0
4        2147116 2022-10-11 14:07:30     30000         16        0.0
...          ...                 ...       ...        ...        ...
2323470  2173980 2022-10-13 21:57:30     30000         16     2205.0
2323471  2173980 2022-10-13 21:58:00     30000         16     2247.0
2323472  2173980 2022-10-13 21:58:30     30000         16     2457.0
2323473  2173980 2022-10-13 21:59:00     30000         16     2835.0
2323474  2173980 2022-10-13 21:59:30     30000         16     2919.0

[2323475 rows x 5 columns]

In [21]:
carbon_parsed = carbon.groupby("timestamp").sum()
carbon_parsed

,id,duration,cpu_count,cpu_usage
timestamp,,,,
2022-10-06 22:00:30,2133229213411921364292133135213311721368502133...,3630000,1936,2162727.0
2022-10-06 22:01:00,2133229213411921364292133135213311721368502133...,3480000,1856,1994559.0
2022-10-06 22:01:30,2133229213411921364292133135213311721368502133...,3480000,1856,2000397.0
2022-10-06 22:02:00,2133229213411921364292133135213311721368502133...,3480000,1856,2007117.0
2022-10-06 22:02:30,2133229213411921364292133135213311721368502133...,3480000,1856,2023896.0
...,...,...,...,...
2022-10-13 21:57:30,2169539217559921739092173969217559821779202169...,2940000,1568,1782270.0
2022-10-13 21:58:00,2169539217559921739092173969217559821779202169...,2940000,1568,1786512.0
2022-10-13 21:58:30,2169539217559921739092173969217559821779202169...,2940000,1568,1790901.0
2022-10-13 21:59:00,2169539217559921739092173969217559821779202169...,2940000,1568,1795899.0
2022-10-13 21:59:30,2169539217559921739092173969217559821779202169...,2970000,1584,1801254.0