In [ ]:
import os
import pandas as pd

In [2]:
os.getcwd()

'/Users/raz/atlarge/opendc-m3sa-pr-branch/experiment-1/experiment-scripter'

In [3]:
df_host = pd.read_parquet("../outputs/raw-output/0/seed=0/host.parquet")
df_host

              timestamp  carbon_emission
0   1970-01-01 00:00:00      2546.725958
1   1970-01-01 01:00:00      2552.592086
2   1970-01-01 02:00:00      2356.925711
3   1970-01-01 03:00:00      2448.637938
4   1970-01-01 04:00:00      2786.439802
..                  ...              ...
164 1970-01-07 20:00:00      2943.646919
165 1970-01-07 21:00:00      3063.862788
166 1970-01-07 22:00:00      3114.356164
167 1970-01-07 23:00:00      3227.505228
168 1970-01-08 00:00:00       451.616108

[169 rows x 2 columns]

In [4]:
df_host['timestamp_absolute'] = pd.to_datetime(df_host['timestamp_absolute'], unit='ms')
df_host

,timestamp,timestamp_absolute,host_id,host_name,core_count,mem_capacity,guests_terminated,guests_running,guests_error,guests_invalid,...,cpu_time_steal,cpu_time_lost,power_draw,energy_usage,carbon_intensity,carbon_emission,uptime,downtime,boot_time,boot_time_absolute
0,300000,2022-10-06 22:05:00,3eb5d772-5f2d-a7e7-0000-00000000010e,H01,16,100000,0,0,0,0,...,0,0,32.0,9600.00,152.480506,0.406615,300000,0,1665093600000,NaN
1,300000,2022-10-06 22:05:00,815f08b6-005e-b55f-0000-0000000000ec,H01,16,100000,0,0,0,0,...,0,0,32.0,9600.00,152.480506,0.406615,300000,0,1665093600000,NaN
2,300000,2022-10-06 22:05:00,34c728aa-0584-7924-0000-0000000000c8,H01,16,100000,0,0,0,0,...,0,0,32.0,9600.00,152.480506,0.406615,300000,0,1665093600000,NaN
3,300000,2022-10-06 22:05:00,bdb9ee86-519b-4e29-0000-000000000085,H01,16,100000,0,0,0,0,...,0,0,32.0,9600.00,152.480506,0.406615,300000,0,1665093600000,NaN
4,300000,2022-10-06 22:05:00,58352289-bb0e-d97f-0000-0000000000c5,H01,16,100000,0,0,0,0,...,0,0,32.0,9600.00,152.480506,0.406615,300000,0,1665093600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558704,605070000,2022-10-13 22:04:30,d15dcc46-f84f-5c2a-0000-000000000084,H01,16,100000,0,0,0,0,...,0,0,32.0,8640.00,199.220248,0.478129,270000,0,1665093600000,NaN
558705,605070000,2022-10-13 22:04:30,eb9d836a-3647-6587-0000-0000000000ca,H01,16,100000,0,0,0,0,...,0,0,32.0,8640.00,199.220248,0.478129,270000,0,1665093600000,NaN
558706,605070000,2022-10-13 22:04:30,a32dc9f6-4f1d-f03a-0000-000000000002,H01,16,100000,0,0,0,0,...,0,0,32.0,11176.35,199.220248,0.618488,270000,0,1665093600000,NaN
558707,605070000,2022-10-13 22:04:30,44f70e6f-8f07-eca7-0000-0000000000c6,H01,16,100000,0,0,0,0,...,0,0,32.0,8640.00,199.220248,0.478129,270000,0,1665093600000,NaN
558708,605070000,2022-10-13 22:04:30,97a96e0a-0d16-4dd9-0000-000000000093,H01,16,100000,0,0,0,0,...,0,0,32.0,8640.00,199.220248,0.478129,270000,0,1665093600000,NaN

In [6]:
emissions = df_host.groupby(pd.Grouper(key='timestamp_absolute', freq='h'))['carbon_emission'].sum()
emissions

timestamp_absolute
2022-10-06 22:00:00    2546.725958
2022-10-06 23:00:00    2552.592086
2022-10-07 00:00:00    2356.925711
2022-10-07 01:00:00    2448.637938
2022-10-07 02:00:00    2786.439802
                          ...
2022-10-13 18:00:00    2943.646919
2022-10-13 19:00:00    3063.862788
2022-10-13 20:00:00    3114.356164
2022-10-13 21:00:00    3227.505228
2022-10-13 22:00:00     451.616108
Freq: h, Name: carbon_emission, Length: 169, dtype: float64

In [ ]:
# """
# This function is used to parse the seconds to hours, from the list of .parquet files received as parameters.
# Hence, if the data is in gCO2/second it will be converted into gCO2/hour.
# 
# The parquet file is then changed (overwritten) to reflect the change.
# """
# 
# import os
# import pandas as pd
# 
# 
# def parse_seconds_to_hours(files):
#     for file in files:
#         df_host = pd.read_parquet(file)
# 
#         # Ensure the 'timestamp_absolute' is in datetime format
#         df_host['timestamp_absolute'] = pd.to_datetime(df_host['timestamp_absolute'])
# 
#         # Group by hour and sum the emissions
#         emissions = df_host.groupby(pd.Grouper(key='timestamp_absolute', freq='h').sum())['carbon_emission']
# 
#         # Convert the series back to a dataframe
#         emissions_df = emissions.reset_index()
# 
#         # Save the new dataframe back to parquet
#         emissions_df.to_parquet(file, engine='pyarrow')
#         print(f"File {file} updated with gCO2/hour")
# 
# 
# if __name__ == '__main__':
#     print("You are at: ", os.getcwd())
# 
#     files = [
#         "../outputs/raw-output/0/seed=0/host.parquet",
#         "../outputs/raw-output/1/seed=0/host.parquet",
#         "../outputs/raw-output/2/seed=0/host.parquet",
#         "../outputs/raw-output/3/seed=0/host.parquet",
#         "../outputs/raw-output/4/seed=0/host.parquet"
#     ]
# 
#     parse_seconds_to_hours(files)